<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
    <div class="logoContainer">PLATZ FÜR LOGO</div>
    <ul class="menuItems">
      <li [routerLink]="['/']" class="list"><mat-icon>fact_check</mat-icon>Dashboard</li>
      <li [routerLink]="['user']" class="list"><mat-icon>perm_identity</mat-icon>User</li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon class="menuIcon" (click)="drawer.toggle()">menu</mat-icon>

        <span>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="routerContainer"><router-outlet></router-outlet></div>
  </div>
</mat-drawer-container>
